body	{
	font-family: helvetica;
	font-size: 22px;
	text-align: center;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	margin: auto;
	padding: 0

}

header	{
	background-color: black;
	height: 69px;
	margin: 0;
	border-bottom: 1px solid seashell;
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
}

.logo	{
	margin-left: 10px;
	display: flex;
	flex-grow: 1;
}

nav span a	{
	padding: 15px;
	display: inline-block;
	color: seashell;
}

main 	{
	padding-top: 69px;
}

.mission	{
	background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg) no-repeat center center;
	height: 700px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero	{
	background-color: black;
	display: block;
	width: 1200px;
	padding: 10px;

}

.featured-teas	{
	margin: auto;
	width: 1000px;

}

.teas 	{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 15px;
}

.teas img {
	height: 200px;
	width: 300px;
	margin: 0 10px 10px 10px;
}

.teas h4	{
	margin:0 0 30px 0;

}

.locations	{
	background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg) no-repeat center center;
	margin: auto;
	height: 500px;
}

.locations h2	{
	padding-top: 100px;
	margin: 0;
}

.addresses	{
	display: flex;
	justify-content: center;
	align-content: space-between;
	margin-top:15px;
}

.areas	{
	background-color: black;
	width: 300px;
	margin: 0 20px;
	padding: 20px;
	opacity: 1;
	/*Not sure where exactly they wanted this opacity, or what it was supposed to do, visually it didn't cause anything to change*/
}

.contact	{
	height: 200px;
}

h5.copyright	{
	margin-left: 20px;
	text-align: left;
}